body,
html{
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	background: url(backimg.jpg) no-repeat center center fixed;
	background-size: cover;
}
h1{
	font-size: 3rem;
	color: white;
}

hr{
	border-color: transparent;
	border-width: 3px;
	max-width: 65px;
}

.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}

.btn-outline-success{
	transition: 5sec;
}

.btn-outline-success:hover{
	border-width: 4px;
}

.btn-xl {
	padding: 1rem 2rem;
}
